@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.large-title {
    font-weight: 500;
}
.subtitle {
    font-weight: 300;
}
body {
    font-weight: 200;
}
