.rules {
  box-shadow: 0 4px 10px rgb(0 0 0 / 30%);
  color: white;
  padding: 2rem 0;
}

header h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin: 0;
}

main {
  background: rgb(37 37 64 / 95%);
  border-radius: 15px;
  box-shadow: 0 8px 15px rgb(0 0 0 / 50%);
  margin: 3rem auto;
  max-width: 900px;
  padding: 2rem;
  z-index: 0;
    
}

h2 {
  border-bottom: 3px solid #1560BD;
  color: #4169E1;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
}

main ul {
  list-style: none;
  padding: 0;
}

main li {
  background: rgb(116 185 255 / 20%);
  border-radius: 12px;
  margin-bottom: 1.5rem;
  padding: 1rem;
  transition: transform 0.3s ease, background 0.3s ease;
}

main li:hover {
  background: rgb(116 185 255 / 40%);
  transform: translateY(-5px);
}

.rule-title {
  color: #4b9cff;
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

main li span {
  display: block;
  font-size: 1.1rem;
}

footer {
  color: #aaa;
  font-size: 0.9rem;
  margin-top: 2rem;
  text-align: center;
}

footer a {
  color: #74b9ff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}