@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}

.large-title {
  font-weight: 700;
}

.subtitle {
  font-weight: 600;
}

body {
  font-weight: 500;
}


.fireworks {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    overflow: hidden;
  }
  .fireworks__before, .fireworks__after {
    width: 10px;
    height: 10px;
    position: absolute;
  }
  .fireworks__before::before, .fireworks__after::before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    border-radius: 50%;
  }
  .fireworks__before_animating, .fireworks__after_animating {
    -webkit-animation: 5s position linear infinite backwards;
            animation: 5s position linear infinite backwards;
  }
  .fireworks__before_animating::before, .fireworks__after_animating::before {
    -webkit-animation: 1s infinite backwards, 1s infinite backwards;
            animation: 1s infinite backwards, 1s infinite backwards;
    -webkit-animation-name: bang, gravity;
            animation-name: bang, gravity;
    -webkit-animation-timing-function: ease-out, ease-in;
            animation-timing-function: ease-out, ease-in;
  }
  .fireworks__after {
    -webkit-animation-delay: 1.25s;
            animation-delay: 1.25s;
    -webkit-animation-duration: 6.25s;
            animation-duration: 6.25s;
  }
  .fireworks__after::before {
    -webkit-animation-delay: 1.25s, 1.25s;
            animation-delay: 1.25s, 1.25s;
    -webkit-animation-duration: 1.25s, 1.25s;
            animation-duration: 1.25s, 1.25s;
  }
  
  @-webkit-keyframes bang {
    to {
      box-shadow: -161px 35.6666666667px #5bd3c4, 184px -74.3333333333px #5bd3c4, -60px 88.6666666667px #9de7ff, -5px -329.3333333333px #5bd3c4, -42px 9.6666666667px #fff, -75px -82.3333333333px #ff30ea, -240px 76.6666666667px #9de7ff, -8px -26.3333333333px #ff30ea, -166px -50.3333333333px #fff, 103px -229.3333333333px #ff30ea, 13px -293.3333333333px #31ff00, 217px -36.3333333333px #9de7ff, -166px -86.3333333333px #ff30ea, 150px -319.3333333333px #f1eb70, 227px -60.3333333333px #f1eb70, -245px 18.6666666667px #9de7ff, 5px 107.6666666667px #9de7ff, -87px -46.3333333333px #9de7ff, -14px -125.3333333333px #9de7ff, 141px -243.3333333333px #9de7ff, 204px -92.3333333333px #9de7ff, 23px -54.3333333333px #5bd3c4, 158px -175.3333333333px #fff, 161px -269.3333333333px #5bd3c4, 146px 45.6666666667px #31ff00, -8px -4.3333333333px #ff30ea, -170px -131.3333333333px #ff30ea, -15px -174.3333333333px #31ff00, -148px -189.3333333333px #9de7ff, -116px -122.3333333333px #5bd3c4, 25px 55.6666666667px #fff, -59px -88.3333333333px #9de7ff, -212px 50.6666666667px #5bd3c4, -10px 52.6666666667px #f1eb70, -23px 138.6666666667px #31ff00, -14px -86.3333333333px #ff30ea, -60px -84.3333333333px #31ff00, 198px -304.3333333333px #ff30ea, -42px 22.6666666667px #31ff00, -23px -89.3333333333px #fff, 101px -92.3333333333px #31ff00, -35px 29.6666666667px #9de7ff, -104px -159.3333333333px #f1eb70, -242px -326.3333333333px #fff, 223px -264.3333333333px #fff, 242px -266.3333333333px #9de7ff, 195px 13.6666666667px #5bd3c4, 155px 126.6666666667px #ff30ea, -3px -324.3333333333px #f1eb70, -219px 10.6666666667px #9de7ff, -116px -245.3333333333px #f1eb70;
    }
  }
  
  @keyframes bang {
    to {
      box-shadow: -161px 35.6666666667px #5bd3c4, 184px -74.3333333333px #5bd3c4, -60px 88.6666666667px #9de7ff, -5px -329.3333333333px #5bd3c4, -42px 9.6666666667px #fff, -75px -82.3333333333px #ff30ea, -240px 76.6666666667px #9de7ff, -8px -26.3333333333px #ff30ea, -166px -50.3333333333px #fff, 103px -229.3333333333px #ff30ea, 13px -293.3333333333px #31ff00, 217px -36.3333333333px #9de7ff, -166px -86.3333333333px #ff30ea, 150px -319.3333333333px #f1eb70, 227px -60.3333333333px #f1eb70, -245px 18.6666666667px #9de7ff, 5px 107.6666666667px #9de7ff, -87px -46.3333333333px #9de7ff, -14px -125.3333333333px #9de7ff, 141px -243.3333333333px #9de7ff, 204px -92.3333333333px #9de7ff, 23px -54.3333333333px #5bd3c4, 158px -175.3333333333px #fff, 161px -269.3333333333px #5bd3c4, 146px 45.6666666667px #31ff00, -8px -4.3333333333px #ff30ea, -170px -131.3333333333px #ff30ea, -15px -174.3333333333px #31ff00, -148px -189.3333333333px #9de7ff, -116px -122.3333333333px #5bd3c4, 25px 55.6666666667px #fff, -59px -88.3333333333px #9de7ff, -212px 50.6666666667px #5bd3c4, -10px 52.6666666667px #f1eb70, -23px 138.6666666667px #31ff00, -14px -86.3333333333px #ff30ea, -60px -84.3333333333px #31ff00, 198px -304.3333333333px #ff30ea, -42px 22.6666666667px #31ff00, -23px -89.3333333333px #fff, 101px -92.3333333333px #31ff00, -35px 29.6666666667px #9de7ff, -104px -159.3333333333px #f1eb70, -242px -326.3333333333px #fff, 223px -264.3333333333px #fff, 242px -266.3333333333px #9de7ff, 195px 13.6666666667px #5bd3c4, 155px 126.6666666667px #ff30ea, -3px -324.3333333333px #f1eb70, -219px 10.6666666667px #9de7ff, -116px -245.3333333333px #f1eb70;
    }
  }
  @-webkit-keyframes gravity {
    80% {
      opacity: 1;
    }
    to {
      transform: translate(0, 200px);
      opacity: 0;
    }
  }
  @keyframes gravity {
    80% {
      opacity: 1;
    }
    to {
      transform: translate(0, 200px);
      opacity: 0;
    }
  }
  @-webkit-keyframes position {
    0%, 19.9% {
      transform: translate(40vw, 10vh);
    }
    20%, 39.9% {
      transform: translate(30vw, 40vh);
    }
    40%, 59.9% {
      transform: translate(70vw, 20vh);
    }
    60%, 79.9% {
      transform: translate(20vw, 30vh);
    }
    80%, 99.9% {
      transform: translate(80vw, 20vh);
    }
  }
  @keyframes position {
    0%, 19.9% {
      transform: translate(40vw, 10vh);
    }
    20%, 39.9% {
      transform: translate(30vw, 40vh);
    }
    40%, 59.9% {
      transform: translate(70vw, 20vh);
    }
    60%, 79.9% {
      transform: translate(20vw, 30vh);
    }
    80%, 99.9% {
      transform: translate(80vw, 20vh);
    }
  }