.wrapper {
  margin: auto;
  margin-top: 100px;
  max-width: 90%;
  position: relative;
  width: 700px;
}

main {
  backdrop-filter: blur(3px);
  border-radius: 30px;
  box-shadow: 0 0 10px rgb(99 99 99 / 50%);
  line-height: 1.5;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  z-index: 101;
}
main::-webkit-scrollbar {
  width: 5px;
}

main::-webkit-scrollbar-track {
  background: rgba(15, 46, 129, 0.6);
  border-radius: 50px;
}
main::-webkit-scrollbar-thumb {
  background: #9b9b9b;
  border-radius: 50px;
}

.slide {
  color: #fff;
  height: 350px;
  hyphens: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  position: absolute;
  text-align: justify;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 100%;
  word-wrap: break-word;
}

.slide h2 {
  border-bottom: 3px solid #d5ccf0;
  color: #769ae7;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  text-align: center;
}

.slide h1 {
  text-align: center;
}

button {
  align-items: center;
  backdrop-filter: blur(90px);
  background-color: rgba(23, 55, 143, 0.8);
  border: none;
  border-radius: 17px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 35px;
  height: 50px;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  z-index: 102;
  transition: all 0.5s ease;

}

button:active{
    background-color: rgba(255, 255, 255, 0.8);
}

button:hover{
  background-color: rgba(25, 74, 208, 0.8);
}
.btn-first {
  left: -100px;
}

.btn-second {
  right: -100px;
}

@media (width <= 662px) {
  main {
    min-height: auto;
  }
}

@media (width <= 992px) {
  .btn-first,
  .btn-second {
    display: inline-block;
    line-height: 50px;
    margin-top: 30px;
    position: static;
  }
  .wrapper {
    text-align: center;
  }
}